@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-color1;
        @apply text-color2;
        @apply p-8;
    }

    .u-scaffold {
        @apply p-2;
        @apply bg-scaffold;

        > *,
        > * > * {
            outline: 1px solid white;
            @apply p-2;
            @apply m-2;
        }
    }

    h2 {
        @apply text-3xl;
        > small {
            @apply text-sm;
        }
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    small {
        @apply text-xs;
        @apply text-color2/50;
    }

    img {
        width: auto;
        height: auto;
    }

    .c-panel {
        @apply bg-color3;
        @apply rounded-lg;
        @apply shadow-lg;
        @apply p-4;
    }

    .c-toggle {
        /* outline: 1px solid white; */
    }

    .c-toggle input:checked {
        @apply bg-color1;
    }

    .c-toggle input:checked ~ span:last-child {
        --tw-translate-x: 2.25rem;
    }

    .gmnoprint,
    .gm-fullscreen-control {
        display: none;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}
