@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

@layer base {
  body {
    @apply dark:bg-neutral-darkGrey;
    @apply bg-neutral-lightGrey;
    @apply dark:text-white;
    @apply text-neutral-darkGrey;
    /* @apply p-8; */
    @apply pt-0;
    font-family: Roboto, sans-serif;
  }

  h1,
  h2,
  h3 {
    /* font-family: 'Oswald'; */
  }

  h2 {
    @apply text-3xl;
  }

  h2 > small {
    @apply text-sm;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  small {
    @apply text-xs;
  }

  img {
    width: auto;
    height: auto;
  }

  .c-panel {
    @apply dark:bg-neutral-midGrey;
    @apply bg-white;
    @apply dark:text-white;
    @apply text-neutral-midGrey;
    @apply rounded-xl;
    /* @apply shadow-lg; */
    @apply p-4;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .fizz {
    outline: 1px solid red;
  }

  .debug > * {
    outline: 1px solid red;
  }
}

/* @media (min-width: 1024px) {
    .u-recharts-fix-overflow > svg {
        overflow: visible;
    }

    .u-recharts-fix-overflow-ticks {
        margin-left: -20px;
    }

    .u-recharts-100 {
        outline: 1px solid red;
        width: 100%;
    }
} */
